<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>People View</title>
</head>
<body>

<table>
    <form th:action="@{/people}" method="get">
        <input type="text" name="firstName" placeholder="First name"/>
        <input type="text" name="lastName" placeholder="Last name"/>

        <input type="submit" value="Search"/>
    </form>

    <tr th:each="person : ${people}">
        <td>
            <a th:href="@{/people/{id}(id=${person.id})}"
               th:text="${person.firstName + ' ' + person.lastName}"></a>
        </td>
    </tr>
</table>

</body>
</html>