<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|${person.firstName} Details|">Person Details</title>
</head>
<body>

<a th:href="@{/people}">Go back</a>

<p>Person details</p>
<table>
    <tr>
        <td>Name</td>
        <td th:text="${person.firstName + ' ' + person.lastName}"></td>
    </tr>

    <tr>
        <td>Gender</td>
        <td th:text="${person.gender}"></td>
    </tr>

    <tr>
        <td>Birthday</td>
        <td th:text="${person.birthday}"></td>
    </tr>

    <tr>
        <td>Height</td>
        <td th:text="${person.height}"></td>
    </tr>

    <tr>
        <td>Address</td>
        <td style="white-space: pre-line" th:text="${person.getFormattedAddress()}"></td>
    </tr>

    <tr>
        <td>Is eligible</td>
        <td>
            <button id="social-btn" value="Get Social Aid Amount">Get Social Aid Amount</button>
            <span th:text="|${person.getSocialAidText()}|" id="social-span" style="display:none;"></span>
            <br/>
            <script>
                   const socialBtn = document.getElementById('social-btn');
                   socialBtn.addEventListener('click', () => {
                        socialBtn.style.display = 'none';
                        document.getElementById('social-span').style.display='inline';
                   });
            </script>
        </td>
    </tr>

</table>

<p>Education details</p>
<table>
    <tr th:each="education : ${sortedEducationRecords}">
        <td
                th:if="|${education.educationDegree.getAbbreviation() == 'P'}|">Primary education
        </td>
        <td
                th:if="|${education.educationDegree.getAbbreviation() == 'S'}|">Secondary education
        </td>
        <td
                th:if="|${education.educationDegree.getAbbreviation() == 'B'}|">Higher education
        </td>
        <td
                th:if="|${education.educationDegree.getAbbreviation() == 'M'}|">Higher education
        </td>
        <td
                th:if="|${education.educationDegree.getAbbreviation() == 'D'}|">Higher education
        </td>
        <td
                th:text="|${education.institutionName}|"></td>
        <td
                th:text="|${education.enrollmentDate}|"></td>
        <td
                th:text="|${education.graduationDate}|"></td>
        <td
                th:if="|${education.isGraduationDateInTheFuture()}|">(expected date)
        </td>

    </tr>
</table>
<br/>

<p>Social insurance details</p>

<form th:action="@{/people/{id}(id=${person.id})}" method="post">
    <input type="text" name="year" placeholder="Year"/>
    <input type="text" name="month" placeholder="Month"/>
    <input type="text" name="amount" placeholder="Amount"/>

    <input type="submit" value="Create new record"/>
</form>
<style>
    table {
        border: 1px solid black;
        margin-top: 10px;
    }
    th, td {
        padding: 5px 10px;
    }
    tr:nth-child(even) {background-color: #f2f2f2;}

</style>
<table>
    <tr>
        <th>Year</th>
        <th>Month</th>
        <th>Insurance amount</th>
        <th></th>
    </tr>

    <tr th:each="socialInsuranceRecord : ${sortedSocialInsuranceRecords}">
        <td
                th:text="|${socialInsuranceRecord.year}|"></td>
        <td
                th:text="|${socialInsuranceRecord.month}|"></td>
        <td
                th:text="|${socialInsuranceRecord.amount}|"></td>
    </tr>
</table>

</body>
</html>