<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Social insurance record added</title>
</head>
<body>
<a th:href="@{/people/{id}(id=${person.id})}">Go back</a>
<p>The record was added!</p>
</body>
</html>